@use "@/styles/helpers" as *

.transaction
    padding: 24px
    background: $p0
    border-radius: 16px

.inner
    +w
        display: flex
        margin: 0 -24px
        padding-bottom: 24px
        overflow: auto
        -webkit-overflow-scrolling: touch
        &::-webkit-scrollbar
            height: 12px
        &::-webkit-scrollbar-track
            background-color: $s1
            border: 2px solid $s1
            border-radius: 6px
            margin-left: 24px
            margin-right: 24px
        &::-webkit-scrollbar-thumb
            background-color: $s3
            border: 2px solid $s1
            border-radius: 6px
        &:before,
        &:after
            content: ""
            flex-shrink: 0
            width: 24px

.table
    margin-top: 24px
    +w
        min-width: 1252px

.head
    display: flex
    justify-content: space-between
    flex-grow: 1
    gap: 16px
    background: $s1

.cell
    display: flex
    align-items: center
    flex-shrink: 0
    height: 48px
    background: $s1
    font-size: 16px
    font-weight: 600
    color: $s4
    // &:nth-child(1)
    //     width: 48px
    // &:nth-child(2)
    //     width: 121px
    // &:nth-child(3)
    //     flex: 1 0 auto
    // &:nth-child(4)
    //     width: 171px
    // &:nth-child(5)
    //     width: 229px
    // &:nth-child(6)
    //     width: 155px
    // &:nth-child(7)
    //     width: 151px
    // &:nth-child(8)
    //     width: 124px
    &:not(:nth-child(1))
        padding-left: 12px

.sorting
    margin-left: 6px
    font-size: 0
    svg
        fill: $s4
        transition: fill .2s
    &:hover,
    &.active
        svg
            fill: $p5

.checkbox
    position: relative
    top: -1px
    margin: auto

