@import @/styles/helpers

.field
    &:not(:last-child)
        margin-bottom: 32px
        +m
            margin-bottom: 24px

.btns
    display: flex
    margin-top: 32px
    padding-top: 32px
    border-top: 1px solid $s1
    +m
        margin-top: 24px
        padding-top: 24px
    .button
        min-width: 175px
        +m
            flex: 0 0 calc(50% - 8px)
            min-width: calc(50% - 8px)
        &:first-child
            margin-right: 24px
            +m
                margin-right: 8px
        &:nth-child(2)
            +m
                margin-left: 8px